pipeline/data_copy.json
{
	"name": "data_copy",
	"properties": {
		"activities": [
			{
				"name": "copy_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set_start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set_end_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@variables('start_time')",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@variables('end_time')",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "source_data",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "desrination",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "update_control_tbl",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "copy_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "if object_id('dbo.control_tbl') is null create table dbo.control_tbl(process_name varchar(20),last_start_ts datetime, last_end_ts datetime);\ninsert into dbo.control_tbl(process_name,last_start_ts,last_end_ts) values('copy_hot_data',@{formatDateTime(variables('start_time'))},,@{formatDateTime(variables('end_time'))}); select 1 as output;\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "set_start_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_last_run_ts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start_time",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.curr_time",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_end_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "end_time",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get_last_run_ts",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "if object_id('dbo.control_tbl') is null select cast( '1999-01-01 00:00:00'as datetime) as curr_time else select cast( last_end_ts as datetime) as curr_time from  dbo.control_tbl where process_name = 'copy_hot_data';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"start_time": {
				"type": "String"
			},
			"end_time": {
				"type": "String"
			}
		},
		"annotations": []
	}
}