pipeline/DataCopy_bulk_window_audit_logging.json
{
	"name": "DataCopy_bulk_window_audit_logging",
	"properties": {
		"activities": [
			{
				"name": "ADLS_Parenet_folder_metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "set_start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set_end_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@variables('windowStart')",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@variables('windowEnd')",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ADLS_Parenet_folder_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ADLS_Parenet_folder_metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "child_pipline_audit_logging",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"windowStart": {
										"value": "@variables('windowStart')",
										"type": "Expression"
									},
									"windowEnd": {
										"value": "@variables('windowEnd')",
										"type": "Expression"
									},
									"FolderName": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "set_start_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_last_run_ts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "windowStart",
					"value": {
						"value": "@activity('get_last_run_ts').output.firstRow.curr_time",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_end_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "windowEnd",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get_last_run_ts",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "if object_id('dbo.audit_control_tbl') is null \n    select cast( '1900-01-01 00:00:00'as datetime) as curr_time \n else \n  if (select 1 from [dbo].[control_tbl] where process_name = 'audit_log_copy_hot') = 1 \n \t\tselect cast( last_end_ts as datetime) as curr_time from dbo.control_tbl where process_name = 'audit_log_copy_hot';\n   else\n  \t select cast( '1900-01-01 00:00:00'as datetime) as curr_time",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"windowStart": {
				"type": "String"
			},
			"windowEnd": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-16T06:43:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}