pipeline/DataCopy_bulk_window_audit_logging.json
{
	"name": "DataCopy_bulk_window_audit_logging",
	"properties": {
		"activities": [
			{
				"name": "ADLS_Parenet_folder_metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "set_start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set_end_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "parent_folder_path",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"modifiedDatetimeStart": {
							"value": "@variables('windowStart')",
							"type": "Expression"
						},
						"modifiedDatetimeEnd": {
							"value": "@variables('windowEnd')",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ADLS_Parenet_folder_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ADLS_Parenet_folder_metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "child_pipline_audit_logging",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"windowStart": {
										"value": "@variables('windowStart')",
										"type": "Expression"
									},
									"windowEnd": {
										"value": "@variables('windowEnd')",
										"type": "Expression"
									},
									"FolderName": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "set_start_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_last_run_ts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "windowStart",
					"value": {
						"value": "@activity('get_last_run_ts').output.firstRow.start_time",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_end_time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get_last_run_ts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "windowEnd",
					"value": {
						"value": "@{formatDateTime(activity('get_last_run_ts').output.firstRow.end_time, 'yyyy-MM-dd HH:mm:ss')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "get_last_run_ts",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "if object_id('dbo.control_tbl') is null \n    select cast( '1900-01-01 00:00:00'as datetime) as start_time ,\n    getdate() as end_time\n else \n   if (select top 1 1  from [dbo].[control_tbl] where process_name = 'audit_log_copy_hot') = 1 \n         select cast( max(last_end_ts) as datetime) as start_time , getdate() as end_time from dbo.control_tbl where process_name = 'audit_log_copy_hot';\n   else\n      select cast( '1900-01-01 00:00:00'as datetime) as start_time, getdate() as end_time",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "update_control_tbl",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "if object_id('dbo.control_tbl') is null create table dbo.control_tbl(process_name varchar(20),last_start_ts datetime, last_end_ts datetime);\n\n\nif (select top 1 1 from [dbo].[control_tbl] where process_name = 'audit_log_copy_hot') = 1\n    update dbo.control_tbl set  last_start_ts =  '@{variables('windowStart')}', last_end_ts= '@{formatDateTime(variables('windowEnd'), 'yyyy-MM-dd HH:mm:ss')}' where process_name = 'audit_log_copy_hot' \nelse\n    insert into dbo.control_tbl select 'audit_log_copy_hot','@{variables('windowStart')}','@{formatDateTime(variables('windowEnd'), 'yyyy-MM-dd HH:mm:ss')}'; select 1 as output; ",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"windowStart": {
				"type": "String"
			},
			"windowEnd": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-16T06:43:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}